<h1>All Listings</h1>
 
<table>
  <tr>
    <th>Start Time</th>
    <th>End Time</th>
    <th>Price</th>
  </tr>
 
  <% @listing.each do |listing| %>
    <tr>
      <td><%= listing.start_time %></td>
      <td><%= listing.end_time %></td>
      <td><%= listing.price %></td>
    </tr>
  <% end %>
</table>