<div id="content">
	<div id="listing">
		<table>
		  <tr>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Price</th>
		  </tr>
		  <tr>
			<td><%= @listing.start_time %></td>
			<td><%= @listing.end_time %></td>
			<td><%= sprintf("$%.2f", @listing.price) %></td>
		  </tr>
		</table>

		<%= button_to "Buy", new_transaction_path(:listing_id => @listing.id, :seller_id => @listing.owner_id) %>
	</div>
</div>