<div id="content">
	<div id="listing"><table>
		  <tr>
			<th>Start Time</th>
			<th>End Time</th>
			<th>Price</th>
		  </tr>
		 
		  <% @listing.each do |listing| %>
			<tr>
			  <td><%= listing.start_time %></td>
			  <td><%= listing.end_time %></td>
			  <td><%= sprintf("$%.2f", listing.price) %></td>
			</tr>
		  <% end %>
		</table>
	</div>
</div>