<p>
  <strong>Start Time:</strong>
  <%= @listing.start_time %>
</p>

<p>
  <strong>End Time:</strong>
  <%= @listing.end_time %>
</p>
 
<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>
