
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<%#This script is for google map api and figure out the current long lat%>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDFmR4HMCaMUYeUdjudpsJ2EZZIOGOngps&signed_in=true"></script>
<script src="/js/google_map_geocode.js"></script>

<!-- This form is not supposed to post anything
    Instead, we use jquery to intercept, perform geocode search
    Then update the map below to show available listings
    For more info look for js/search_location.js
-->
<form method="post" id="search_location_form" action="" >
	<div id="search_options">
		<h2 class="green">Search</h2>
		<table>
			<tr>
				<th>
					<label for="location">Location:</label>
				</th>
				<td>
					<input class="form-control" type="text" id="location_input" name="location" value="90024"></input>
					<input type="hidden" id="longitude" name="longitude"></input>
					<input type="hidden" id="latitude" name="latitude"></input>
				<td>
			</tr>
			<tr>
				<th>
					<label for="start_time">Start time:</label>
				</th>
				<td>
					<input class="form-control" type="text" id="start_time" name="start_time"></input>
				<td>
			</tr>
			<tr>
				<th>
					<label for="end_time">End time:</label>
				</th>
				<td>
					<input class="form-control" type="text" id="end_time" name="end_time"></input>
				<td>
			</tr>
		</table>
		<input type="submit" value="Search">
    </div>
</form>

<div id="map" style="height: 500px;"></div>

<script>
    $("#start_time").datepicker();
    $("#end_time").datepicker();
</script>

<script src="/js/search_location.js"></script>

