<div id="content">
  <h1>Profile</h1>
  <br/>
	<div id="profile">
	  <h2 class="green"><%= @name %></h2>
		<table>
			<tr>
				<td><h4>Email:</h4></td>
				<td><%= @email %></td>
			</tr>
			<tr>
				<td><h4>Phone:</h4></td>
				<td><%= @phone %></td>
			</tr>
			<tr>
				<td><h4>Rating:</h4></td>
				<td><%= @rating %> / 10.0</td>
			</tr>
		</table>
	</div>
</div>