<div id="content">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
	    <h1>About Us</h1><br/>
    </div>
  </div>
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
    	<div id="aboutus">
    		<p>
    			Rent-A-Driveway allows those with extra parking space in their driveway and those searching for a parking space to come together. Sellers can make some extra cash by posting their unused parking spots and buyers can purchase those spots for a certain amount of time.
    		</p>
    	</div>
    </div>
  </div>
</div>