// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#profile {
	border: 1px dotted black;
	padding: 15px;
	font-size: 1.25em;
}

#profile table {

}

#profile th {
	font-size: 1.15em;
	text-align: left;
	padding-right: 25px;
}

#listing {
	font-size: 1.25em;
}

#listing table {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
	width: 100%;
}

#listing th {
	color: #36be00;
	font-size: 1.15em;
	border-right: 2px solid black;
	border-left: 2px solid black;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	width: 20%;
}

#listing td {
	border-top: 2px solid black;
	font-size: 1.05em;
	padding: 5px;
}