/*
	Template ID 2 - Stylesheet
	http://www.layoutica.com

*/

* 
body {
background : #fafafa;
font-family : Tahoma, Verdana, Arial, sans-serif;
font-size : 8pt;
color : #585858;
}
.rs { float: right; margin: 0 10px; border: 1px solid #ddd; padding: 5px; background: #f5f5f5  }
ul { list-style-position: inside; margin-left: 2px }
ul li { list-style-type: square; margin-left: 15px;  }
ul ul li { list-style: none; margin-left: 10px; list-style-type: lower-alpha; list-style-position: inside }

input, textarea {
border : 1px solid #aaa;
}
input:hover, textarea:hover {
border : 1px solid #888;
}
img {
border : 0;
float : left;
margin-right : 10px;
}
a {
color : #36be00;
text-decoration : none;
background : #fff;
}
a:hover {
text-decoration : underline;
}
input, textarea {
border : 1px solid #aaa;
}
input:hover, textarea:hover {
border : 1px solid #888;
}
input.text {
color : #000000;
border : 1px solid #e6e6e6;
background : inherit;
}
textarea.text {
font-size : 8pt;
border : 1px solid #e6e6e6;
}
input.text:hover, textarea.text:hover {
border : 1px solid #d6d6d6;
}
form {
display : inline;
margin : 0;
padding : 0;
}
.green {
color : #36be00;
}
.bigl {
font-size : 1.2em;
}
#search_options {
	border: 3px solid black;
	margin: 20px;
	padding: 15px;
	box-shadow: 0px 0px 15px #000000; 
}

#search_options label {
	font-size: 16px;
	font-weight: bold;
}

#search_options #days td {
	width: 11%;
}


